<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    <%= @mainTitle %>
                </h1>
                <small>
                    <%= @mainDesc %>
                </small>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Проекты</h5>
                            <div class="ibox-tools">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6">
                                    Создать
                            </button>
                            </div>
                            <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Создать проект</h4>
                                        </div>
                                        <div class="modal-body">
                                            
                                        
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                                            <button type="button" class="btn btn-primary">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <div class="col-md-1">
                                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Обновить</button>
                                </div>
                                <div class="col-md-11">
                                    <div class="input-group"><input type="text" placeholder="Поиск" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> <i class="fa fa-search"></i></button> </span></div>
                                </div>
                            </div>

                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <% @projects.each do |project| %>
                                        <tr>
                                        <td class="project-status">
                                            <span class="label label-primary"><i class="fa fa-download"></i></span>
                                        </td>
                                        <td class="project-title">
                                            <a href=""><%= project.title %></a>
                                            <br/>
                                            <small><%= project.description %></small>
                                        </td>
                                        <td class="project-completion">
                                                <small>Completion with: 48%</small>
                                                <div class="progress progress-mini">
                                                    <div style="width: 48%;" class="progress-bar"></div>
                                                </div>
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                            <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                            <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                            <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                            <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                        </td>
                                    </tr>
                                     <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        </div>
</div>